/* Row.css */
.gantt-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.gantt-row-title {
  width: 150px;
  padding: 8px;
  background-color: #dcdcdc;
  text-align: right;
  border-left: 1px solid #ccc;
  font-weight: bold;
}

.gantt-row-events {
  position: relative;
  flex: 1;
  height: 100%;
  direction: rtl;
}

.gantt-event {
  position: absolute;
  height: 40px; /* Fixed height for each event within a lane */
  background-color: #e0e0e0;
  text-align: center;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}
